DB_HOST=expense-tracker-db
DB_PORT=5432
BACKEND_PORT=3001
FRONTEND_PORT=8082
SESSION_COOKIE_NAME=sharetab_session
SESSION_TTL_HOURS=1
APP_ORIGIN=http://localhost:8082
DB_UID=70
DB_GID=70
DB_NAME=/absolute/path/to/secret/db_name
DB_USER=/absolute/path/to/secret/db_user
DB_PASSWORD=/absolute/path/to/secret/db_password
DB_VOLUME=/absolute/path/to/database
